.league-table {
    display: table;
    overflow-x: auto;
}

.league-table table {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.league-table table {
    border-collapse: collapse;
}

.zone {
    border-bottom: 1.6px solid rgba(0, 0, 0, 0.6);
}

.zone-reverse {
    border-top:  1.6px solid rgba(0, 0, 0, 0.6);
}

.league-table thead th {
    background-color: #f4f4f4;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}

.league-table table td, .league-table table th {
    padding: 5px 6px;
    
}

.league-table tfoot  td{
    padding-top: 10px;
    font-size: 0.75em;
    border: none;
}

.league-table td {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}

.league-table caption {
    background-color: #990000;
    color: #fff;
    padding: 10px;
    letter-spacing: 1px;
    font-size: 1.1em;
}

#reverseTable {
    cursor: pointer;
}

.hide-team {
    position: absolute;
    visibility: hidden;
}

.toggle {
    height: 20px;
    background-color: lightgreen;
}
