.league-table {
    overflow-x: auto;
}

.league-table table {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.league-table table {
    border-collapse: collapse;
}

.zone {
    border-bottom: 2px solid rgba(0, 0, 0, 0.6);
}

.zone-reverse {
    border-top:  2px solid rgba(0, 0, 0, 0.6);
}

.league-table thead th {
    background-color: #f4f4f4;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}

.league-table table td, .league-table table th {
    padding: 5px 6px;
    
}

.league-table tfoot  td{
    padding-top: 10px;
    font-size: 0.75em;
    border: none;
}

.league-table td {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}

.league-table caption {
    background-color: #990000;
    color: #fff;
    padding: 10px;
    letter-spacing: 1px;
    font-size: 1.1em;
}

#reverseTable, .toggle div {
    cursor: pointer;
}

.hide-team {
    position: absolute;
    visibility: hidden;
}

.toggle {
    display: flex;
    justify-content: center;
    height: 15px;
    width: 50%;
    margin: auto;
}

.toggle div {
    margin: auto;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}

.toggle-arrow-default {
    border-top: 8px solid rgba(0, 0, 0, 0.7);
}

.toggle-arrow-collapse {
    border-bottom: 8px solid rgba(0, 0, 0, 0.7);
}

.toggle-arrow-default:hover {
    border-top: 8px solid rgba(0, 0, 0, 0.9);
    transform: scale(1.25);
}

.toggle-arrow-collapse:hover {
    border-bottom: 8px solid rgba(0, 0, 0, 0.9);
    transform: scale(1.25);
}
