.league-table {
    overflow-x: auto;
}

.league-table table {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border-collapse: collapse;
}

.league-table thead tr {
    background-color: #f4f4f4;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

.league-table tbody td:last-child, .league-table thead th:last-child{
    padding-right: 15px;
    font-weight: 600;
}

.league-table tbody td:first-child, .league-table thead th:first-child{
    padding-left: 15px;
}

.league-table thead th:first-child {
    padding-right: 10px;
}

.league-table thead th:nth-child(2) {
    text-align: left;
}

.league-table td, .league-table th {
    padding: 7px 6px;
}

.league-table tr:nth-of-type(even) {
    background-color: #fbfbfb;
}

.league-table td:nth-last-of-type(-n+8) {
    text-align: center;
    min-width: 20px
}

.league-table td:nth-of-type(2) {
    font-weight: 600;
    padding-right: 15px;
    max-width: 100px
}

.league-table tfoot tr{
    padding-top: 10px;
    font-size: 0.75em;
    border: none;
}

.league-table tr {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
    font-size: 14.5px;
    line-height: 1.2;
}

#lastTeam {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}

.league-table caption {
    background-color: #990000;
    color: #fff;
    padding: 10px;
    letter-spacing: 1px;
    font-size: 1.1em;
}

#reverseTable, .toggle div {
    cursor: pointer;
}

.hide-team {
    position: absolute;
    visibility: hidden;
}

.toggle {
    display: flex;
    justify-content: center;
    height: 15px;
    width: 50%;
    margin: auto;
}

.toggle div {
    margin: auto;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}

.toggle-arrow-default {
    border-top: 8px solid rgba(0, 0, 0, 0.7);
    transition: transform 0.2s ease-in;
}

.toggle-arrow-collapse {
    border-bottom: 8px solid rgba(0, 0, 0, 0.7);
    transition: transform 0.2s ease-in;
}

.toggle-arrow-default:hover {
    border-top: 8px solid rgba(0, 0, 0, 0.9);
    transform: scale(1.35);
}

.toggle-arrow-collapse:hover {
    border-bottom: 8px solid rgba(0, 0, 0, 0.9);
    transform: scale(1.35);
}

#zone {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

#zoneReverse {
    border-top:  2px solid rgba(0, 0, 0, 0.6);
}

.minus {
    color: #FF0000;
}

.plus {
    color: #008000;
}

@media screen and (max-width: 455px) {
    .league-table td, .league-table th {
        padding: 6px 3px;
    }
}