.league-table {
    overflow-x: auto;
    padding-bottom: 5px;
}

.league-table table {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border-collapse: collapse;
}

.league-table thead tr {
    background-color: #F4F4F4;
    border-bottom: 0.6px solid #BDBDBD;
}

.league-table tbody td:last-child, .league-table thead th:last-child{
    padding-right: 15px;
    font-weight: 600;
}

.league-table tbody td:first-child, .league-table thead th:first-child{
    padding-left: 15px;
}

.league-table thead th:first-child {
    padding-right: 10px;
}

.league-table thead th:nth-child(2) {
    text-align: left;
}

.league-table td, .league-table th {
    padding: 8px 8px;
}

.league-table tr:nth-of-type(even) {
    background-color: #FAFAFA;
}

.league-table td:nth-last-of-type(-n+8) {
    text-align: center;
    min-width: 20px;
}

.league-table td:nth-of-type(2) {
    font-weight: 600;
    padding-right: 15px;
    max-width: 110px;
    word-wrap: break-word;
    overflow: hidden;
}

.league-table tfoot tr {
    padding-top: 10px;
    font-size: 0.75em;
    border: none;
}

.league-table tr {
    border-bottom: 0.6px solid #BDBDBD;
    font-size: 14.5px;
    line-height: 16px;
}

.league-table caption {
    background-color: #990000;
    color: #fff;
    padding: 10px;
    letter-spacing: 1px;
    font-size: 1.1em;
}

#reverseTable, .toggle div {
    cursor: pointer;
}

#reverseTable span {
    font-size: 0.7em;
    color: #434343;
}

.hide-team {
    position: absolute;
    visibility: hidden;
}

.toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    height: 15px;
    width: 50%;
}

.toggle div {
    margin: auto;
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
}

.toggle-arrow-default {
    border-top: 11px solid #434343;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.toggle-arrow-collapse {
    border-bottom: 11px solid #434343;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

#zone {
    border-bottom: 2px solid #909090;
}

#zoneReverse {
    border-top:  2px solid #909090;
}

.minus {
    color: #FF0000;
}

.plus {
    color: #008000;
}

@media screen and (max-width: 500px) {
    .league-table td, .league-table th {
        padding: 6px 3px;
    }
    
    .league-table td:nth-of-type(2) {
        padding-right: 10px;
    }

    .league-table tr {
        font-size: 13.5px;
    }
}

@media screen and (max-width: 405px) {
    .league-table td, .league-table th {
        padding: 6px 2px;
    }
    
    .league-table tr {
        font-size: 13px;
    }
}